*{
	font-family:'TrajanPro-Regular';
}

.letter-link{
    font-size: 18px;
    text-decoration: none;
    color: #333;
    text-align: center;
}

.letter-link:hover{
    font-weight: bold;
}

.text-center img {
  display: inline-block;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

header {
  padding: 0px;
}

.header-top {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 9;
}
.header-bg-img {
  margin-top: -80px;
}
.header-call-timg {
  position: relative;
  z-index: 9999;
}
.nav-item.logo-t img {
  width: 72%;
  left: 76px;
  position: relative;
  top: -60px;
}
.nav-item.logo-t {
  position: relative;
  top: auto;
}
header .mainmenu {
  position: relative;
  top: -108px;
}
.dropdown-item {
  font-size: 13px !important;
  color: #ccc !important;
  display: inline-block !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.mainmenu .dropdown-item:hover{
    color: #fff !important;
}

.mainmenu .dropdown-menu{
    z-index: 9999 !important;
}



.dropdown .dropdown-menu {
  background-color: transparent;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef00;
}

header .mainmenu ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 0px !important;
  background-color: transparent;
  border-radius: 20px;
  font-family: 'Outfit';
}
.contact-head ul {
  margin: 0px 20px 0px;
}

header .mainmenu ul li {
  padding: 0px 26px;
  height: max-content;
}
header .mainmenu ul .nav-item:first-child {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
header .mainmenu ul .nav-item:last-child {
  padding-right: 0px !important;
}
.nav-link.dropdown-toggle {
  height: 50px;
}
header .mainmenu ul .nav-item:nth-child(2) {
  padding-left: 50px;
  position: relative;
  left: 20px;
}
header .mainmenu ul .nav-item:nth-child(3) {
  position: relative;
  left: 20px;
}
header .mainmenu ul .nav-item:nth-child(5) {
  position: relative;
  left: 20px;
}
.header-clock-cont ul li {
  align-content: center;
  padding-left: 10px;
  text-align: left;
}
.header-clock-cont ul li h4 {
  font-size: 18px;
  line-height: 1.6;
  margin: 0px;
  color: #e4d6ca;
  font-family: 'Outfit';
  font-weight: 300;
}
.header-clock-cont ul li h4 span {
  font-size: 18px;
  line-height: 1.6;
  margin: 0px;
  color: #c5a183;
  font-family: 'Outfit';
  font-weight: 600;
}
.header-clock-cont li i {
  border: 2px solid #a9896f;
  padding: 10px 10px;
  border-radius: 50%;
  color: #a9896f;
}
.header-clock-cont ul li p {
  font-size: 14px;
  color: #e4d6ca;
  font-family: 'Outfit';
  font-weight: 300;
}
header .mainmenu ul .nav-item:last-child {
  background-image: url('img/others/button-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 80%;
  padding: 16px 10px 16px 10px !important;
  position: relative;
  top: -15px;
  left: 10px;
}
header .mainmenu ul .nav-item:last-child a {
  color: #c5a183;
}
header .mainmenu ul .nav-item:last-child a:hover,
header .mainmenu ul .nav-item:last-child a.active,
header .mainmenu ul .nav-item:last-child a:focus {
  color: #c5a183;
  background-image: none !important;
  padding-bottom: 0px !important;
}
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
.dropdown .dropdown-menu {
  display: none;
  border: none;
  padding: 8px 40px;
  background-color: #a8886df1;
  top: 43px;
}
  .dropdown:hover .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

/*************SUB MENU*************/
.mainmenu .sub-menu {list-style: outside none none;  min-width: 250px;  padding: 0;  position: absolute;  z-index: 1000;  display:none;}
.mainmenu li:last-child:hover .sub-menu {right: 0;}
.mainmenu li:hover .sub-menu{ display:block; }
.mainmenu .sub-menu li{padding:0px !important;}
.mainmenu .sub-menu li a { background-color: #fff;  display: block;  padding: 10px 15px !important;  text-align: left; color: #000 !important;  text-decoration: none;  transition: all 1s ease-in-out 0s;}
.mainmenu .sub-menu li a:hover { background:#fff !important; padding-left:25px; color: #000 !important;}
.col-md-5ths {
	width: 20%;
	float: left;
}

/*******MAIN MENU*********/
header .mainmenu .navbar {
	margin: 0px;
	padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}

header .mainmenu .navbar-nav .nav-item:nth-child(4) a.active,
header .mainmenu .navbar-nav .nav-item:nth-child(4)  a:focus,
header .mainmenu .navbar-nav .nav-item:nth-child(4)  a:hover{
background-image: none !important;
}

header .mainmenu .navbar-nav .nav-item a:focus, header .mainmenu .nav-item a:hover {
  color: #fff;
}
header .mainmenu .navbar-nav li:first-child a:focus, header .mainmenu li:first-child a:hover {
  color: #fff;
  background-image: url('img/icons/active-icon.png');
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 20px !important;
  background-size: 30px;
}
.dropdown .dropdown-menu li {
  padding: 2px !important;
}
header .mainmenu .navbar-nav .nav-item .dropdown-item:hover {
  padding-bottom: 0px !important;
  background-image: none !important;
}
header .mainmenu .navbar-nav .menu1 a.active, header .mainmenu .navbar-nav .menu1 a:focus, header .mainmenu .navbar-nav .menu1 a:hover{
	background-image: none !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
	color: #386979;
}
header .header-bottom {
	position: relative;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
  }
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -20px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #fff !important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
 background: #0054aa !important;
}


.carousel-section {
  padding: 60px 0px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block;
}


.owl-nav.disabled {
  display: none !important;
}
header .header-bottom .banner-contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    width: 100%;
}
header .banner-contents h1 {
  font-size: 65px;
  color: #a9896f;
  line-height: 1.3;
  font-weight: 400;
  text-transform: uppercase;
}

.banner-contents a:hover{
  color: #fff;
}
.banner-info {
  margin-right: 36%;
  border-left: 3px solid #a9896f;
  padding-left: 20px;
}
.btn:hover, .btn:focus {
  color: #fff;
  box-shadow: none;
}
.btn {
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, rgba(127,94,61,1) 0%, rgba(190,153,123,1) 50%, rgba(171,135,104,1) 100%);
  border-left: 2px solid #fff;
  border-radius: 0px;
  padding: 15px 30px;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: 1px;
  margin: 0px 5px;
  border: 0px;
  text-transform: uppercase;
}

.banner-btn{
  border-left: 3px solid #a9896f;
  margin-top: 20px;
}
.banner-info p {
  font-size: 20px;
  color: #fff;
}
.banner-info h4 {
  font-size: 30px;
  color: #efddcf;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Outfit';
  letter-spacing: 5px;
}
.scroll-icon a img {
  width: 100px !important;
}
.scroll-icon {
  position: relative;
  top: -50px;
}
.line-img {
  position: absolute;
  right: 0px;
  top: -230px;
}
.taylor-line {
  position: relative;
}
.about-border img {
  position: relative;
  margin-top: -60%;
  left: -25px;
  height: 300px;
}
.about-border {
  text-align: end;
}
.banner-shape {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	z-index: 9;
}
.heading h3 {
  font-size: 55px;
  font-weight: 700;
  color: #a9896f;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading p {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  font-family: 'Outfit';
}
.heading h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #010101;
  font-weight: 500;
  line-height: 1.6;
}
.heading a {
  text-transform: uppercase;

}
.heading hr {
  width: 70px;
  height: 2px;
  background-color: #b39781;
  opacity: 1;
  position: relative;
  top: -20px;
}
.heading h5 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #041330;
  margin-bottom: 10px;
  font-family: 'Outfit';
}
.about-section {
  padding: 70px 0px;
  position: relative;
}
.border-left-prah {
  border-left: 5px solid #a9896f;
  padding-left: 20px;
  margin: 40px 0px;
}
.btn-box{
  border-left: 5px solid #000;
  display: inline-flex;
}
.taylorline-about-left img {
  position: absolute;
  top: -170px;
  z-index: -1;
}
.about-img.text-center img {
  outline: 3px solid #be997b;
  outline-offset: -15px;
  padding-right: 40px !important;
  border-bottom: 40px solid #fff;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}
/*team Section*/

.team-section{
  padding: 70px 0px 150px;
  background-color: #f6f2ee;
}
.team-sub-cont h4 {
  font-size: 23px;
  color: #041330;
  font-family: 'Outfit';
  font-weight: 500;
}
.team-sub-cont hr {
  margin: 12px auto;
}
.team-sub-cont {
  padding-top: 20px;
}
.team-sub-cont p {
  font-size: 16px;
  color: #555;
  font-family: 'Outfit';
  padding: 0px 40px;
  font-weight: 400;
}
.team-img.tem-box {
  position: relative;
  top: 10px;
}
.what-heading hr {
  margin: 20px auto 0px;
}
.team-heading.heading hr {
  margin: auto;
  position: relative;
  top: -8px;
}
.team-wraping {
  padding-top: 40px;
}
.what-we-section {
  padding: 70px 0px 40px;
  position: relative;
}

.what-we-section:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 50px;
  height: 0px;
  border-top: 2px solid #000;
  margin: auto;
  transform: rotate(90deg);
}
.taylorline-2 img {
  width: 40%;
  position: relative;
  top: 40px;
}

.practice-content:hover h6, .practice-content:hover p {
  color: #fff;
}
.practice-content {
  width: 100%;
  height: 570px;
  padding: 0px 0px 40px;
  background-color: #f4efe9;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.practice-content:hover {
  width: 100%;
  height: 570px;
  background-image: url('img/others/practice-bg-img.png');
}
.practice-sub-cont h6 {
  font-size: 18px;
  color: #222;
  font-weight: 700;
  font-family: 'Montserrat';
  margin: 20px 0px;
}
.practice-sub-cont p {
  font-size: 16px;
  padding: 0px 30px;
  color: #222;
  font-family: 'Montserrat';
  font-weight: 400;
}
/*.practice-content:hover img {
  filter: brightness(0) invert(1);
}*/
.practice-sub-cont a i {
  background-color: #fff;
  color: #bb9678;
  padding: 7px;
  border-radius: 5px;
  margin-left: 10px;
}
.practice-sub-cont a {
  font-size: 15px;
  border-radius: 5px !important;
  padding: 10px 8px 10px 20px;
}
.what-wrap hr {
  text-align: center;
  margin: 35px auto 0px;
  background: linear-gradient(90deg, rgb(127, 94, 61) 10%, rgb(190, 153, 123) 50%, rgb(200, 175, 157) 100%);
}
.practice-content:hover .what-wrap hr{
  background: #fff !important;
}

.practice-content:hover hr {
  background: #fff !important;
  color: #fff !important;
}

.practice-wrap-2 {
  margin: -10% 17%;
}



.proprietary-section {
  padding: 70px 0px;
  background-color: #f3e7dd;
  position: relative;
}
.proprietary-section::after {
  content: "";
  border: 3px solid #000;
  position: absolute;
  left: 0px;
  width: 0px;
  height: 350px;
  top: 25%;
}
.proprietary-content.heading {
  padding-top: 0px;
}
.coming-img h4 {
  font-size: 75px;
  color: #9c7959;
  font-family: 'Caveat Brush';
  font-weight: 700;
  padding: 150px 0px;
  border-radius: 30px;
  background-color: transparent;
  position: absolute;
  z-index: 999999999;
  right: 0;
  left: 0;
  transform: rotate(-30deg);
  top: 18%;

  background: -webkit-linear-gradient(45deg, #8e551c, #e9954f 80%);
    background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
 .blink-soft {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }

  70% {
    opacity: 10;
  }
}
.coming-img .coming-text h4 {
  font-size: 75px;
  color: #9c7959 !important;
  padding: 0px;
  border-radius: 30px;
  position: inherit;
  z-index: 99999;
  right: 0;
  left: 0;
  transform: rotate(0deg);
  top: auto;
  z-index: 99;
  background: #fff;
  -webkit-text-fill-color: #a9896f;
}
.proprietary-wrap .row .col-md-12.col-lg-6 {
  align-content: center !important;
}
.coming-img.text-center {
  position: relative;
}
.mob-img img {
  width: auto !important;
  position: relative;
  z-index: 999;
  border: 4px solid #fff;
  border-radius: 30px;
}
.coming-img img {
  width: 50%;
}
.taylorline-bottom img {
  transform: rotate(180deg);
  top: 0px;
  position: relative;
}
.img-fluid.obstrac-img {
  position: absolute;
  right: 0px;
  top: -195px;
}
.taylorline-box {
  position: relative;
}


.testimonial-wrap-cont img {
  width: auto !important;
}
.testimonial-contents {
  padding: 22px 20px 60px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 16px #1111111a;
  -webkit-box-shadow: 0px 0px 16px #1111111a;
  -moz-box-shadow: 0px 0px 16px #1111111a;
  -ms-box-shadow: 0px 0px 16px #1111111a;
  margin: 10px 10px;
  outline: 2px solid #be997b;
  outline-offset: -17px;
}
.testimonial-contents:hover {
  background-color: #041330;
}
.testimonial-contents:hover .quotes-icon{
  background-color: #041330;
}
.quotes-icon {
  display: block;
  width: 60px;
  background-color: #fff;
  position: relative;
  top: -18px;
  padding: 0px 10px 0px;
}
.testimonial-wrap-cont p {
  font-size: 17px;
  color: #041330;
}
.testimonial-wrap-cont h4 {
  font-size: 16px;
  color: #a07656;
  font-family: 'Outfit';
  font-weight: 700;
  text-transform: capitalize;
}
.testimonial-wrap-cont p a {
  font-size: 13px;
  color: #8b6143;
  font-family: 'Outfit';
  text-decoration: underline;
  font-weight: 400;
}
.testimonial-contents:hover p, .testimonial-contents:hover h4, .testimonial-contents:hover a {
  color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #af8b6c !important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 33px;
  height: 6px;
}
.owl-theme .owl-dots .owl-dot span {
  background: #ece3dc !important;
}
.owl-dots {
  z-index: 999999;
  position: absolute;
  bottom: -15%;
  right: 0px;
  left: 0px;
}

.testimonials-heading hr {
  margin: 20px auto;
}
.testimonials-section {
  padding: 70px 0px 100px;
}


.contact-section {
  background-color: #041330;
  padding: 70px 0px;
}
.contact-wrap {
  border: 2px solid #bb9678;
  padding: 0px;
  margin-top: 50px;
}
.contact-form {
  background: rgb(186,149,119);
  background: linear-gradient(225deg, rgba(186,149,119,1) 0%, rgba(126,93,60,1) 100%);
  margin-top: 0px;
  padding: 40px 30px;
}
.contact-form form {
  margin-top: 30px;
}
.contact-wrap h4 {
  font-size: 22px;
  color: #fff;
  font-family: 'Outfit';
  text-transform: uppercase;
}
.contact-wrap hr {
  width: 50px;
  height: 2px;
  background-color: #b39781;
  opacity: 1;
  position: relative;
  top: 12px;
  display: inline-block;
}
.get-content ul li span {
  font-size: 20px;
  color: #fff;
  display: block;
  margin-top: 5px;
  font-family: 'Outfit';
}
.get-content ul li h5 {
  font-size: 18px;
  color: #be997b;
  font-family: 'Outfit';
  font-weight: 400;
}
.contact-section h5 {
  color: #fff;
}
.get-content ul li i {
  color: #bb9678;
  font-size: 25px;
  padding-top: 10px;
}
.get-content ul li:last-child {
  padding-left: 15px;
}
.get-content ul li a{
  text-decoration: none;
  font-family: 'Outfit';
  font-weight: 400;
}
.get-content ul {
  border-bottom: 1px solid #9f7d5d2e;
  width: 100%;
  margin: 20px 0px 0px;
  padding: 10px 0px 20px;
}
.get-content ul:last-child {
  border-bottom: 0px solid #9f7d5d2e;
}
/*.get-content ul li {
  background-image: url('img/icons/addrs-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 40px;
  background-size: 6%;
}*/




.contact-section {
  background-image: url('img/others/contact-bg.png');
  padding: 70px 0px;
}


.form-group input, .form-group textarea {
  font-size: 15px;
  background-color: #fff;
  border: 2px solid #fff;
  margin: 10px 0px;
  border-radius: 1px;
  padding: 12px 30px;
  font-family: 'Outfit';
  color: #041330;
  text-transform: capitalize;
}
.form-group input, .form-group textarea {
  background-image: url('img/icons/user-icon.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0px 10px;
}
.form-group input.email-txt{
  background-image: url('img/icons/email-icon.png');
}
.form-group input.phone-txt{
  background-image: url('img/icons/phone-icon.png');
}
.form-group textarea.message-txt{
  background-image: url('img/icons/message-icon.png');
}
.form-group input.company-txt{
  background-image: url('img/icons/web-icon.png');
}

.cont-btn.head {
  margin-top: 20px;
}
.cont-btn.head a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  text-transform: capitalize;
  padding: 15px;
  display: block;
  border: 2px solid #fff;
  text-align: center;
  font-family: 'Outfit';
  font-size: 22px;
}
.contact-form hr {
  background-color: #041330;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}
::-ms-input-placeholder { /* Edge 12-18 */
  color: #041330 !important;
}

::placeholder {
  color: #041330 !important;
}
.footer-section {
  background-color: #0000;
  padding: 70px 0px 0px;
}

.footer-menu h4 {
  font-size: 23px;
  color: #a9896f;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.footer-logo {
  padding: 5px 10px 0px;
}
.footer-logo img {
  width: 70%;
}
.footer-menu i {
  padding: 9px 10px;
  background-color: #fff0;
  color: #fff;
  border-radius: 50%;
  margin-right: 14px;
  font-size: 18px;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
}
.footer-menu.menu-2 {
  position: relative;
  left: -40px;
}
.footer-menu i {
  color: #041330;
}
.footer-menu a {
  font-size: 19px;
  color: #030b1c;
  font-weight: 400;
  text-decoration: none;
  padding: 3px 0px;
  font-family: 'Outfit';
  display: block;
}
.footer-menu.menu-3 ul li:last-child {
  border-left: 2px solid #bd987a94;
  padding-left: 10px;
}
.footer-menu.menu-3 ul li a {
  font-size: 15px;
  color: #030b1c;
  padding: 0px;
  font-family: 'Outfit' !important;
}
.footer-menu.menu-3 ul li {
  align-content: center;
}
.social-icon i {
  color: #bd987a;
  padding: 20px;
  font-size: 25px;
}
.social-icon i:hover {
  color: #041330;
}
.footer-menu.menu-3 ul li a span {
  font-family: 'Outfit';
}
.border-bot {
  width: 60px;
  height: 2.4px !important;
  background-color: #b39781;
  opacity: 1;
  margin: 10px 0px 20px;
}

.footer-copyright {
  background-color: #273d60;
}
.copyrights p {
  color: #030b1c;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Outfit';
}
.copyrights {
  border-top: 2px solid #d9c3b2;
  padding-top: 20px;
  margin-top: 20px;
}
.terms-menu a {
  font-size: 18px;
  color: #030b1c;
  font-weight: 400;
  text-decoration: none;
  padding: 3px 10px;
  font-family: 'Outfit';
  display: block;
}
.get-content {
  padding: 40px 80px 100px;
  background-image: url('img/others/taylor-line4.png');
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: contain;
}
.contact-heading hr {
  margin: 20px auto 30px;
}

.contact-form h4 a {
  background-color: transparent;
  color: #df542e;
  padding: 10px;
  text-decoration: navajowhite;
}
.contact-form h6{
  font-size: 15px;
  color: #fff;
}




/*Inner page*/
.top-elements {
  position: absolute;
  right: 0px;
  margin-top: -50px;
}
.inner-page-ban .banner-contents {
  top: 50% !important;
}
.inner-page-ban .line-img {
  left: 0px;
  width: 5%;
  top: 0px;
  margin-top: -96px;
}
.about-border.industry {
  text-align: left !important;
}
.about-border.industry img {
  transform: rotate(90deg);
  position: relative;
  margin-top: -61%;
  right: 0px;
  left: 15px;
  height: 290px;
}
.about-img.industry img{
  outline: 3px solid #be997b;
  outline-offset: -15px;
  padding-right: 0px !important;
  border-bottom: 40px solid #fff;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  padding-left: 40px;
}
.industry-section h4 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Outfit';
  font-weight: 600;
  color: #242424;
  text-transform: full-size-kana;
  line-height: 1.2;
}
.industry-section {
  position: relative;
  padding: 70px 0px 40px;
}
.industry-section .about-content {
  padding-top: 25px;
}
.industry-section .taylorline-about-left img {
  right: 0px;
  transform: rotate(180deg);
  top: 0px;
  width: 10%;
}
.accordion-button::after {
  flex-shrink: 0;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\2b";
  color: #9f826a;
  position: absolute;
  right: 15px;
  background-image: none;
}
.accordion-button:not(.collapsed)::after{
    content: "\f068";
    background-image: none;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  font-size: 19px;
  color: #041330;
  font-family: 'Outfit';
  font-weight: 600;
}
.accordion-body{
  font-size: 16px;
  padding: 0px 20px 30px;
  color: #041330;
  font-family: 'Outfit';
  font-weight: 400;
}
.accordion-flush .accordion-item{
  border: none;
}
.accordion-item {
  border-bottom: 1px solid #000 !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}
.faq-section{
  position: relative;
  padding-bottom: 70px;
}
.faq-section .taylorline-about-left img {
  width: 80px;
  top: -40px;
}
.faq-content {
  margin: 0px 0px;
}





/*Team Detail Page*/

.practice-details {
  display: inline flow-root list-item;
}
.attorneys-wrap {
  padding: 60px 80px;
  background-color: #fff;
  position: relative;
  margin-top: -15%;
  outline: 3px solid #a9896f;
  outline-offset: -20px;
  box-shadow: 0px 2px 10px #be997b3b;
  z-index: 100;
}
.team-contents ul li a {
  font-size: 18px;
  color: #0c172d;
  font-family: 'Outfit';
  text-decoration: none;
}
.team-contents ul li a i {
  padding: 0px 10px 10px 0px;
}
.team-contents .cont-detail li:last-child {
  margin-left: 80px;
}
.team-contents h6 {
  font-size: 18px;
  color: #0c172d;
  font-family: 'Outfit';
}
.practice-details li {
  padding: 4px 0px 4px 10px;
  font-size: 17px !important;
  font-family: 'Outfit';
  color: #0c172d;
}
.practice-details li i {
  font-size: 8px;
  padding-right: 10px;
  color: #9f826a;
  position: relative;
  top: -3px;
}
.practice-details {
  display: inline flow-root list-item;
  padding-right: 70px;
}
.practice-details li:last-child i {
  color: #7b5a39;
}
.team-name {
  border-left: 4px solid #a9896f;
  padding-left: 30px;
  margin-bottom: 20px;
}
.cont-detail {
  margin: 25px 0px;
}
.team-contents {
  padding-left: 60px;
}
.inner-page-ban2 .line-img {
  right: 0px;
  top: -105px;
  width: 90px;
}
.tab-contentleft {
  background-color: #041330;
  position: relative;
  padding: 40px 0px;
  margin-bottom: 60px;
}
.tab-right-content {
  padding: 10px 0px 30px 50px;
}
.nav-pills .nav-link:last-child {
  border: none;
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover,  .nav-pills .show > .nav-link {
  color: #fff;
  background: linear-gradient(225deg, rgba(186,149,119,1) 0%, rgba(126,93,60,1) 100%);
  text-align: left;
  border: 1px solid transparent;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0px;
  text-align: left;
  margin: 0px 50px 10px;
  font-family: 'Outfit';
  text-transform: uppercase;
  color: #fff;
  border-bottom: 0.2px solid #ffffff5e;
}
.tab-wrap h3 {
  font-size: 40px !important;
}
.tab-wrap h5 {
  color: #fff;
  font-size: 16px;
  margin-top: -4px;
  line-height: 1.5;
}
.tab-wrap {
  padding: 80px 0px 0px;
}
.tab-right-content hr {
  top: -10px;
}
.img-fluid.taylorline-img {
    position: absolute;
    right: -56px;
    transform: rotate(90deg);
    top: 30%;
    width: 80px;
}
.tab-right-content ul li i {
  background: rgb(186,149,119);
  background: linear-gradient(225deg, rgba(186,149,119,1) 0%, rgba(126,93,60,1) 100%);
  padding: 0px;
  margin-right: 10px;
}
.tab-right-content h6 {
  font-size: 18px;
  color: #0c172d;
  font-family: 'Outfit';
  padding-top: 30px;
}
.news-content p {
  font-size: 17px;
}
.play-btn {
  position: absolute;
  top: 40%;
  left: 45%;
  right: 0px;
  background-color: transparent;
  border: none;
}
.media-box {
  position: relative;
}
.publicat-content h5 {
  font-size: 18px;
  color: #a9896f;
  font-family: 'Outfit';
  font-weight: 500;
}
.publicat-content h4 {
  font-size: 19px;
  color: #000;
  font-family: 'Outfit';
  text-transform: full-size-kana;
}
.publicat-content p {
  font-size: 16px;
}
.publicat-content:hover {
  background-color: #f8f3ee;
  background-image: url('img/others/taylorline.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60px;
}
.tab-right-content h4, p, a {
  font-family: 'Outfit' !important;
}
.team-contents .social-icon li i {
  padding-left: 20px;
}
.tab-right-content a {
  text-decoration: none;
  color: #bd997a;
  font-weight: 600;
  text-transform: capitalize;
  margin: -7px 0px 0px;
  display: block;
  font-size: 20px;
}
.speaking-content {
  margin: 0px 0px 40px;
}
.publicat-content {
  padding: 20px;
  border: 2px solid #b18c6e;
  margin: 30px 0px;
}


/*practice-Area page*/

.practice-ban .banner-info {
  margin: 0px !important;
}
.inner-page .line-img {
  right: 0px !important;
  position: absolute;
  left: auto;
}
.search-box {
  position: relative;
  margin-top: -80px;
  outline: 3px solid #e1d0c3;
  outline-offset: -15px;
  box-shadow: 0px 2px 20px #be997b26;
  padding: 70px 50px;
  background-color: #fff;
}
.search-box input {
  font-size: 17px;
  background-color: #f8f6f4;
  font-family: 'Outfit';
  border: 3px solid #e1d0c3;
  padding: 20px;
}
.search-box input:focus {
  background-color: #f8f6f4 !important;
  font-family: 'Outfit';
  border: 3px solid #e1d0c3;
}
.input-group .btn:focus, .input-group button:focus {
  outline: none;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0);
}
.input-group .btn, .input-group button {
  background: transparent !important;
  color: #be997b;
  position: absolute;
  right: 0px;
  font-size: 22px;
  top: 8px;
  z-index: 999;
}



.tab-titles button {
  background: transparent !important;
  color: #041330 !important;
  font-family: 'Outfit';
  font-size: 20px;
}
.tab-titles .nav {
  border-bottom: 2px solid #d6cbc0;
}
.tab-titles .nav-pills .nav-link.active, .tab-titles .nav-pills .nav-link:hover {
  border-bottom: 3px solid #9f826a !important;
  border: 2px solid transparent;
}
.tab-titles .nav-pills .nav-link {
  margin: -1px;
  padding: 10px 90px;
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff00;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
  color: #a9896f !important;
}

.tab-titles .nav-pills .nav-link{
  border: none !important;
}
.tab-answer .faq-content {
  margin: 50px 30px 0px;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 2px solid #fff !important;
}
.practice-details-wrap a{
  text-decoration: none;
  color: #000;
  font-family: 'Outfit';
  font-weight: 400;
  display: block;
}
.practice-details-wrap ul li {
  font-size: 18px;
  border-bottom: 1px solid #8a8a8a;
  color: #000;
  font-family: 'Outfit';
  font-weight: 400;
  display: block;
  padding: 8px 10px;
  margin: 10px 40px;
  background-image: url('img/icons/right-icon.png');
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: 10px;
}
.practice-list-border {
  border-bottom: 1px solid #8a8a8a;
}
.practice-details-wrap ul li:last-child {
  border: none;
}
.tab-content-section {
  padding-bottom: 100px;
  position: relative;
}
.tab-content-section .taylorline-about-left img {
  width: 117px;
  top: 0px;
}

.search-box h6 {
  font-size: 20px;
  font-family: 'Outfit';
  font-weight: 400;
  letter-spacing: 13px;
}
.search-box h4 {
  font-size: 20px;
  font-family: 'Outfit';
  color: #9e7b5c;
  font-weight: 400;
  margin-bottom: 13px;
}

.search-box .col-md-4 {
  align-content: center;
}
.search-box .row {
  padding-top: 20px;
}
.advance-search a {
  font-size: 16px;
  color: #000;
  font-family: 'Outfit';
  font-weight: 400;
}
.team-section.all-member {
  background-color: #fff;
  position: relative;
  padding: 70px 0px;
  margin: 10px 0px;
}
.team-section.all-member .team-content {
  margin: 10px 0px 20px;
}
.all-member-btn .btn {
  background: #fff;
  border: 3px solid #bd987a;
  color: #bd987a;
  margin-top: 20px;
}
.all-member-pg{
  background-color: #f8f1eb;
}
.team-section.all-member .taylorline-about-left img {
  width: 10%;
  top: 0px;
  z-index: 999;
}

.team-img.tem-box1{
  position: relative;
}
/*.team-img.tem-box1::after {
  content: "";
  background-image: url('img/others/img-shape-bg.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 99999;
  top: -20px;
  width: 100%;
  height: 100vh;

}*/
/*
.team-img.tem-box1 img {
  padding: 0px 0px 40px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 20px 30px;
  height: 440px;
}*/
/*.img-fluid.shape-bg-img {
  background-image: url('img/others/team-img-5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}*/

/*.img-fluid.img-ss {
  background-image: url('img/others/img-shape-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}*/
.team-img.tem-box1::after {
  background-image: url('img/others/img-shape-bg.png');
  background-position: center;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-size: 100%;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0px;
}
.team-img.tem-box1 {
  position: relative;
  padding: 15px 0px;
  margin: -1px;
}
.banner-info.practice-ban {
  border: none;
}

/*
.team-img.tem-box1::after {
  content: "";
  background-image: url('img/others/img-shape-bg.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 99999;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 90%;
}*/


.tab-right-content .practice-details li i {
  color: #9f826a;
  position: relative;
  top: 8px;
  height: fit-content;
}

.tab-right-content ul li {
  display: inline-flex !important;
}
.tab-right-content ul li:last-child i{
  color: #9f826a;
}

/*RESPONSIVE*/
@media screen and (max-width: 2880px) {

}
@media screen and (max-width: 1920px) {



}
@media screen and (max-width: 1680px) {
  .inner-page-ban .line-img {
    width: 5%;
  }

}
@media screen and (max-width: 1440px) {

  header .mainmenu ul li {
    padding: 0px 9px;
  }
  .navbar-nav {
    margin: auto;
  }
  header .mainmenu ul .nav-item:nth-child(2) {
    padding-left: 50px;
    left: 0px;
  }
  .nav-item.logo-t img {
    width: 73%;
    left: 56px;
    position: relative;
    top: -61px;
  }
  header .mainmenu ul .nav-item:nth-child(5) {
    position: relative;
    left: 40px;
  }
  header .mainmenu ul .nav-item:nth-child(6) {
    position: relative;
    left: 60px;
  }
  header .mainmenu ul .nav-item:last-child {
    left: 90px;
  }
  .social-icon i {
    padding: 20px 10px;
  }

}
@media screen and (max-width: 1376px){
  header .mainmenu ul li a {
    font-size: 13px;
  }
  .header-bg-img {
    margin-top: -70px;
  }
  header .mainmenu {
    top: -92px;
  }
  header .mainmenu .navbar-nav a:hover {
    padding-bottom: 17px !important;
    background-size: 24px;
  }
  .nav-item.logo-t img {
    width: 63%;
    left: 64px;
    position: relative;
    top: -53px;
  }
    .about-border img {
    position: relative;
    margin-top: -90%;
    left: -23px;
    width: 80%;
    height: 420px;
  }
  .about-border {
    text-align: end !important;
  }
  .practice-sub-cont p {
    font-size: 14px;
  }

}
@media screen and (max-width: 1280px) {
 .header-bg-img {
    margin-top: -60px;
  }
    header .mainmenu {
    top: -93px;
  }
   header .mainmenu ul li a {
    font-size: 13px;
  }
    .about-border img {
    position: relative;
    margin-top: -90%;
    left: -23px;
    width: 80%;
    height: 420px;
  }
  .about-border.industry img {
    transform: rotate(90deg);
    position: relative;
    margin-top: -64%;
    right: 0px;
    left: 42px;
    height: 300px;
    width: 50%;
  }
	.about-img.industry img {
    outline-offset: -20px;
  }
}


@media screen and (max-width: 1270px) {
  header .mainmenu ul .nav-item:last-child {
    left: 60px;
    padding: 10px 10px 10px 10px !important;
    top: -9px;
  }
  .nav-item.logo-t img {
    width: 53%;
    left: 70px;
    position: relative;
    top: -46px;
  }
    header .mainmenu ul .nav-item:nth-child(5) {
    left: 20px;
  }
  header .mainmenu .navbar-nav a:hover {
    padding-bottom: 15px !important;
    background-size: 24px;
  }
    header .mainmenu ul .nav-item:nth-child(6) {
    left: 40px;
  }
  header .mainmenu ul li a {
    font-size: 10px;
  }
    header .mainmenu {
    top: -77px;
    z-index: 9999;
  }
    header .mainmenu ul li {
    padding: 0px 4px;
  }
  a.btn {
    padding: 10px 20px;
    font-size: 15px;
  }

  .banner-contents a {
    font-size: 16px;
  }

  header .banner-contents h1 {
    font-size: 40px;
  }

  .banner-info p {
    font-size: 17px;
  }
  .heading h3 {
    font-size: 38px;
  }
  .footer-menu h4 {
    font-size: 20px;
  }

 .about-border img {
    height: 335px;
  }
 .about-border.industry img {
    margin-top: -68%;
    left: 65px;
    width: 50%;
  }
    .team-contents {
    padding-left: 10px;
  }
  .practice-details {
    padding-right: 0px;
  }
  .attorneys-wrap {
    padding: 20px 60px;
    margin-top: -115%;
  }
  .team-img {
    text-align: center;
  }
  .team-name {
    border-left: 4px solid #a9896f;
    padding-left: 30px;
  }
  .inner-page-ban .line-img {
    top: -62px;
  }

  .accordion-flush .accordion-item .accordion-button {
    font-size: 16px;
  }
   .attorneys-wrap {
    margin-top: -70%;
  }
  .tab-titles .nav-pills .nav-link {
    padding: 10px 30px;
  }
  .search-box {
    margin-top: -50px;
  }
  .top-elements {
    margin-top: 3px;
    width: 40px;
  }

}


@media screen and (max-width: 1023px) {
    header .mainmenu {
    top: auto;
  }
  .about-border img {
    height: auto;
  }
  .nav-link.dropdown-toggle {
    height: auto;
  }
  .header-top {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 9;
    background-image: url('img/others/mobile-header-bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0px;
    background-size: 100% 90%;
  }
.collapse:not(.show) {
  display: none;
}
 .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    top: 168px;
    background-color: #bd987a;
    left: 0px;
    padding: 20px;
    width: 100%;
  }
  header .mainmenu ul .nav-item:nth-child(6) {
    left: 0px;
    top: 0px;
    padding: 0px !important;
    color: #fff !important;
    background-image: none;
  }
  .about-border img {
    position: relative;
    margin-top: -83%;
    left: -20px;
  }
  .header-clock-cont ul {
    margin: 0px;
  }
  header .mainmenu ul .nav-item{
    padding: 0px;
  }
  header .mainmenu ul .nav-item:nth-child(5) {
    left: 0px;
    padding: 0px;
  }
  header .mainmenu ul .nav-item:nth-child(2) {
    padding-left: 0px;
    left: 0px;
    padding: 0px;
  }
  header .mainmenu ul .nav-item:last-child a {
    color: #fff;
    padding: 0px !important;
  }
  header .mainmenu ul .nav-item:nth-child(3) {
    position: relative;
    padding: 0px;
    left: 0px;
  }
 .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    border: none !important;
  }
  header .header-bottom .banner-contents {
    top: 50%;
  }
  header .header-logo {
      text-align: center;
  }
  header .header-logo img {
    display: inline-block;
  }
  header .mainmenu .navbar {
    margin: 0;
    padding: 0;
  }
  .icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  button:focus {
    outline: none;
  }
  .navbar-toggler {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    padding: 9px 10px;
  }
  .navbar-dark .navbar-toggler {
    border: medium none;
  }
  header .header-top .mainmenu ul li {
    margin-bottom: 5px;
  }
  header .header-top .mainmenu ul li .sub-menu li {
    margin-bottom: 0px;
  }
  .mainmenu li:last-child:hover .sub-menu {
    right: auto;
  }
  header .mainmenu {
    float: none;
    padding-top: 0px;
  }
  a.navbar-brand{
      width: 50%;
  }
  header .mainmenu ul li a {
    font-size: 14px;
  }
  header .mainmenu .navbar-nav a:hover {
    color: #fff;
    background-color: transparent;
    background-image: none;
    padding: 0px !important;
  }
   header .mainmenu ul li a {
    font-size: 20px;
/*    padding: 12px 4px !important;*/
  }
  .mainmenu  .container {
    padding: 0px !important;
  }
  header .banner-contents h1 {
    font-size: 33px;
  }
  .banner-info h4 {
    font-size: 18px;
  }
    .banner-info {
      margin: auto;
  }
   header .header-bottom .banner-contents {
    top: 50%;
  }
  .header-logo {
    padding-top: 15px;
  }
  .heading h3 {
    font-size: 50px;
  }
  .heading hr {
    top: -10px;
  }
  .heading h4 {
    font-size: 16px;
  }
  .heading p {
    font-size: 18px;
  }
  .border-left-prah {
    padding-left: 15px;
    margin: 20px 0px 30px;
  }
  .footer-menu h4 {
    font-size: 17px;
  }
  .footer-logo img {
    width: auto;
  }
  .footer-menu i {
    padding: 6px 8px;
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
  .practice-sub-cont p {
    font-size: 13px !important;
  }
  .heading hr {
    top: -20px;
  }
  .practice-sub-cont h6 {
    padding-top: 10px;
  }
  .last-box {
    margin: 10px 40px !important;
  }
  .practice-content.last-box:hover {
    width: auto;
  }
  .last-box {
    margin: -100px 160px 0px !important;
    width: auto;
  }
  .team-content {
    margin-bottom: 50px;
  }
  .team-section {
    padding: 40px 0px;
  }
  .coming-img img {
    width: 70%;
  }
  .get-content {
    padding: 20px 20px 0px;
  }
  .contact-wrap h4 {
    font-size: 23px;
  }
  .mob-img img {
    width: 100%;
    position: relative;
    z-index: 99999;
  }
    .footer-logo {
    text-align: center;
  }
  .social-icon{
    text-align: center;
  }
  .footer-menu {
    padding-left: 100px;
  }
  .copyrights {
    text-align: left !important;
    padding-left: 100px;
  }
  .terms-menu a {
    font-size: 16px;
    padding: 0px 20px 0px 0px;
  }
  .terms-menu{
    text-align: left !important;
  }
  .footer-menu.menu-2 {
    left: 0px;
  }
  .footer-section{
    padding: 30px 0px 20px;
  }

  .about-border.industry img {
    margin-top: -61%;
    left: 5px;
    width: 50%;
  }
    .tab-wrap h3 {
    font-size: 28px !important;
  }
  .faq-content {
    margin: 0px 0px;
  }

   .team-contents .cont-detail li:last-child {
    margin-left: 20px;
  }
    .attorneys-wrap {
    padding: 20px 40px;
  }
  .tab-right-content {
    padding: 10px 10px 10px;
  }
  .industry-section .about-content {
    padding-top: 0px;
  }

  .practice-details-wrap ul li {
    font-size: 15px;
    padding: 8px 10px;
    margin: 10px 10px;
  }
  .tab-answer .faq-content {
    margin: 10px 0px 0px;
  }
    .team-img.tem-box1 {
    padding: 35px 0px;
    margin: 30px;
  }
  .inner-page-ban .line-img {
    top: -46px;
  }



}
@media screen and (max-width: 840px) {
  .tab-titles .nav-pills .nav-link {
    padding: 10px 20px;
    font-size: 17px;
  }

}

@media screen and (max-width: 767px) {

  .last-box {
    margin: auto !important;
    width: auto;
  }
  .footer-menu {
    padding-left: 0px;
  }
  .copyrights {
    text-align: left !important;
    padding-left: 0px;
  }
  .proprietary-content.heading {
    padding-top: 20px;
  }

  .heading hr {
    top: -10px;
  }

  .heading h3 {
    font-size: 30px;
  }

  .heading h5 {
    font-size: 15px;
  }
  .get-content ul li span {
      font-size: 15px;
    margin: 0px 40px 0px 0px;
  }
  .navbar-brand {
    margin-right: 30px !important;
  }
  .navbar-collapse {
    top: 148px;
  }
  header .mainmenu ul li a {
    padding: 10px 0px !important;
  }
  .about-section {
    padding: 40px 0px;
  }
    .about-border.industry img {
    margin-top: -65%;
    left: 50px;
    width: 50%;
  }
  .nav-pills .nav-link {
    margin: 0px 30px 10px;
    font-size: 13px;
  }
  .team-name {
    padding-left: 30px;
  }
  .inner-page-ban .line-img {
    left: 0px;
    width: 5%;
    top: -37px;
  }
  .tab-contentleft {
    padding: 40px 0px 10px;
    margin-bottom: 10px;
  }

  .accordion-flush .accordion-item .accordion-button {
    font-size: 15px;
  }
  .about-border img {
    margin-top: -88%;
    left: -20px;
  }
   .attorneys-wrap {
    margin-top: -110%;
  }
  .cont-detail {
  display: inherit !important;
  }
  .team-contents .cont-detail li:last-child {
    margin-left: 0px;
  }
  .media-box {
    position: relative;
    padding: 20px 0px;
  }
  .search-box {
    margin-top: -20px;
  }
    .search-box input {
    padding: 16px;
    font-size: 18px;
  }
  .input-group .btn, .input-group button {
    top: 0px;
  }
    .team-img.tem-box1 {
    padding: 35px 0px;
    margin: 0px 0px;
  }
  .advance-search{
    text-align: center !important;
    padding-top: 10px;
  }
   .top-elements {
    margin-top: -27px;
    width: 40px;
  }
    .search-box h6 {
    font-size: 16px;
    letter-spacing: 6px;
  }

}

@media screen and (max-width: 490px) {
 .about-border.industry img {
    margin-top: -67%;
    left: 66px;
    width: 50%;
  }
  .tab-right-content {
    padding: 40px 10px 10px;
  }
  .attorneys-wrap {
    margin-top: -70%;
  }

  .line-img {
    top: -182px;
    width: 70px;
  }
   .tab-titles .nav-pills .nav-link {
    padding: 10px 15px;
  }
  .tab-wrap {
    padding: 30px 0px 0px;
  }
   .tab-titles .nav-pills .nav-link {
    font-size: 15px;
  }
   .search-box input {
    font-size: 14px;
  }
 .input-group .btn, .input-group button {
    font-size: 18px;
    padding: 4px 0px 0px 10px !important;
  }

}

@media screen and (max-width: 480px) {

  .heading p {
    font-size: 15px;
  }
   .heading hr {
    top: -10px;
    margin-bottom: 0px;
  }
  .testimonials-heading hr {
    margin: auto !important;
  }
  .testimonials-section {
    padding: 30px 0px 70px;
  }
   a.btn {
    padding: 5px 10px;
    font-size: 13px;
  }

   header .header-bottom .banner-contents {
      top: 45%;
    }
  .banner-btn a {
    padding: 10px;
  }
    header .mainmenu ul li a {
    font-size: 12px;
    padding: 3px !important;
  }
  .header-clock-cont li i {
    padding: 7px;
  }
  .nav-item a {
    font-size: 17px !important;
  }
   .navbar-collapse {
    top: 135px;
  }

  .industry-section {
    position: relative;
    padding: 30px 0px 40px;
  }
   .industry-section h4 {
    font-size: 20px;
  }
  .search-box {
    padding: 50px 30px;
  }
  .team-img.tem-box1 {
    padding: 15px 0px;
    margin: 0px 0px;
  }
  .team-sub-cont {
    padding-top: 0px;
  }
  .about-border img {
    margin-top: -88%;
  }
  .practice-details-wrap ul li{
    background-size: 6px;

  }
  .coming-img .coming-text h4 {
    font-size: 55px;
  }
  .coming-img h4 {
    font-size: 45px;
    padding: 90px 0px;
  }
}
@media screen and (max-width: 428px) {
  header .header-bottom .banner-contents {
    top: 40%;
  }
   .navbar-collapse {
    top: 115px;
  }
    .about-border.industry img {
    margin-top: -70%;
    left: 80px;
    width: 50%;
  }
  .attorneys-wrap {
    padding: 20px 25px;
  }
 .banner-info p {
    font-size: 15px;
  }

}
@media screen and (max-width: 420px) {

  .contact-head h5 span a {
    font-size: 14px;
  }
  .terms-menu a {
    font-size: 16px;
    padding: 0px 10px 0px 0px;
  }
    .navbar-collapse {
    top: 105px;
  }
    header .banner-contents h1 {
    font-size: 27px;
    text-shadow: 2px 2px #010a15;
  }
    .heading h3 {
    font-size: 25px;
  }
   .tab-titles .nav-pills .nav-link {
    padding: 10px 8px;
    font-size: 12px;
  }
  .search-box {
    padding: 40px 30px;
  }


}
@media screen and (max-width: 391px) {
  .navbar-brand {
    margin-right: 0px !important;
    position: relative;
    left: -20px;
  }
  .about-border.industry img {
    margin-top: -73%;
    left: 88px;
    width: 50%;
  }
  .input-group .btn, .input-group button {
  position: relative;
  }
   .about-border img {
    margin-top: -96%;
  }
}
@media screen and (max-width: 375px) {

  .accordion-flush .accordion-item .accordion-button {
    font-size: 13px;
  }
   .about-border.industry img {
    margin-top: -75%;
    left: 45px;
    width: 50%;
    height: 200px;
  }

}
@media screen and (max-width: 360px) {
  .navbar-brand {
    margin-right: 0px;
  }
   a.navbar-brand {
    width: 50%;
    position: relative;
    left: -8px;
  }
   header .mainmenu ul li {
    padding: 0px;
  }
  .inner-page-ban .banner-contents {
    top: 44% !important;
  }
   header .banner-contents h1 {
    font-size: 23px;
  }

}
@media screen and (max-width: 320px) {

 .about-border.industry img {
    margin-top: -75%;
    left: 55px;
  }

}
